# === Global configs === #

TZ="Europe/Helsinki"

# The root domains of the services. BACKEND_DOMAIN is used for non-user facing services such as the Matrix
# backend and the bridge. Subdomains such as id.${DOMAIN} and matrix.${BACKEND_DOMAIN} will be generated based on these.
DOMAIN="pona.la"
BACKEND_DOMAIN=${DOMAIN}

# The server name to use for the Matrix server. This might be different from DOMAIN depending on your use case.
SERVER_NAME=${DOMAIN}

# === LLDAP specific === #

# Password for the admin user. It should be fairly secure, as it can be used to create new users and grant admin
# privileges to them.
LDAP_ADMIN_PASS=""

# Generate these with `generate-secrets.sh`. Quite obviously these should be kept secret.
LDAP_JWT_SECRET=""
LDAP_KEY_SEED=""

# === OOYE specific === #

OOYE_HS_TOKEN=""
OOYE_AS_TOKEN=""
OOYE_BOT_TOKEN=""

# === SMTP specific === #
SMTP_PASSWORD=""
