# === Global configs === #

TZ="Europe/Helsinki"

# The root domain of the service. Subdomains such as id.${DOMAIN} and matrix.${DOMAIN} will be generated based on this.
DOMAIN="pona.la"

# The server name to use for the Matrix server. This might be different from DOMAIN depending on your use case.
SERVER_NAME=${DOMAIN}

# === LLDAP specific === #

# Generate these with `generate-secrets.sh`.
# Quite obviously these should be kept secret.
LDAP_JWT_SECRET=""
LDAP_KEY_SEED=""

# Password for the admin user. It should be fairly secure, as it can be used to create new users and grant admin
# privileges to them.
LDAP_ADMIN_PASS=""
