# === Global configs === #

TZ="Europe/Helsinki"

# The root domain of the service. Subdomains such as id.pona.la and ldap.pona.la will be generated based on this.
DOMAIN="pona.la"

# The server name to use for the Matrix server.
# This might be different from DOMAIN depending on your use case.
SERVER_NAME=${DOMAIN}
