matrix.{$BACKEND_DOMAIN}, matrix.{$BACKEND_DOMAIN}:8448 {
	header {
		Access-Control-Allow-Headers *
		Access-Control-Allow-Methods *
	}

	reverse_proxy http://tuwunel:8008
}

mi.{$DOMAIN} {
	# Serve the landing page from the root path
	handle_path / {
		root * /srv/www
		file_server
	}

	respond /robots.txt "user-agent: *
Allow: /$
Disallow: /
"

	# Registration is a route protected by anubis, which will forward the request to the lldap-reg service
	# within.website is anubis's own route
	@anubis path /register* /.within.website*
	reverse_proxy @anubis http://anubis:3000 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
	}

	# Serve the static files for the registration page
	handle_path /static/* {
		uri strip_prefix /static
		root * /srv/www/static
		file_server
	}

	# Dex UI and OIDC discovery
	reverse_proxy /dex* http://dex:5556
	# probably a bug in dex that it doesn't serve the OAuth discovery
	# API at the expected path, so we need to rewrite it
	handle_path /.well-known/openid-configuration {
		rewrite * /dex/.well-known/openid-configuration
		reverse_proxy http://dex:5556
	}

	# Route all other requests to the lldap service
	reverse_proxy http://lldap:17170
}

bridge.{$BACKEND_DOMAIN} {
	encode gzip
	reverse_proxy http://ooye:6693
}

logs.{$BACKEND_DOMAIN} {
	reverse_proxy http://dozzle:8080
}
