matrix.{$BACKEND_DOMAIN}, matrix.{$BACKEND_DOMAIN}:8448 {
	header {
		Access-Control-Allow-Headers *
		Access-Control-Allow-Methods *
	}

	reverse_proxy http://tuwunel:8008
}

id.{$DOMAIN} {
	reverse_proxy http://lldap:17170
}

bridge.{$BACKEND_DOMAIN} {
	encode gzip
	reverse_proxy http://ooye:6693
}
