matrix.{$DOMAIN}, matrix.{$DOMAIN}:8448 {
	header {
		Access-Control-Allow-Headers *
		Access-Control-Allow-Methods *
		Access-Control-Allow-Origin *
	}

	reverse_proxy http://tuwunel:8008
}

id.{$DOMAIN} {
	reverse_proxy http://lldap:17170
}
